APP_PORT=3010
REMNAWAVE_PANEL_URL=http://remnawave:3000
REMNAWAVE_API_TOKEN=
CADDY_AUTH_API_TOKEN=
CUSTOM_SUB_PREFIX=
HWID_PROXY_PORT=3020

# НАСТРОЙКА: REMNAWAVE_API_TOKEN — токен из панели (права users + hwid)
